<div class="slider-container">
  <%- ctx.prismicH.asHTML(slice.primary.title) %>
  <div class="carousel" data-flickity='{ "wrapAround": true }'>
    <% slice.items.map(slideItems => { %>
      <div class="carousel-cell" >
        <%- ctx.prismicH.asHTML(slideItems.prod_name) %>
        <img 
          src="<%- slideItems.image.url %>" 
          alt="<%- slideItems.image.alt %>" 
        />
        <p class="slide-link">
          <a href="<%- ctx.prismicH.asLink(slideItems.link) %>">
            Learn More
          </a>
        </p>
      </div>
    <% }) %>
  </div>
</div>
