<html>
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body>
    <%- include('./partials/home_nav'); %>
    <div class="home-container">
      <div class="logo-section">
        <img
            src="<%- pageContent.data.logo.url %>" 
            alt="<%- pageContent.data.logo.alt %>"
        />
      </div>
      <section>To Do!</section>
    </div>
    <footer>
      <%- include('./partials/footer'); %>
    </footer>
  </body>
</html>


