<html>
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body>
    <%- include('./partials/navigation'); %>
    <div class="container">
      <h1 style="text-align:center;padding:20px 0;"><%- ctx.prismicH.asText(pageContent.data.title) %></h1>
      <div class="services">
        <%- include("SliceZone", {SliceZone: pageContent.data.page_content}); %>      
      </div>
    </div>
    <footer>
      <%- include('./partials/footer'); %>
    </footer>
  </body>
</html>
